@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Remove setas no Firefox */
}


/* Barra de rolagem em Webkit (Chrome, Safari, Edge) */

@font-face {
  font-family: "Agency";
  src: url("/fonts/Agency.ttf") format("truetype");
  font-weight: thin;
  font-style: thin;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* globals.css ou outro arquivo CSS global */
body{
  color: black;
}

@keyframes gradient-xy {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-xy {
  background-size: 200% 200%;
  animation: gradient-xy 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradientBG {
  background: linear-gradient(45deg, #37004b, #000000, #500060, #0e005c);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
