@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}


/*@font-face {
  fontes aqui
}
  */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* globals.css ou outro arquivo CSS global */
body{
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.slick-slide {
  display: flex !important; /* Garante que os slides sejam flexíveis */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.slick-list {
  overflow: hidden; /* Evita overflow do conteúdo */
}

.slick-track {
  display: flex !important; /* Garante que os slides se alinhem corretamente */
}

.carousel-slide {
  padding: 16px;
  margin: auto;
  width: 90%; /* Garante que o slider não extrapole a largura */
  max-width: 300px; /* Limita a largura máxima para telas menores */
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}


.custom-prev-arrow, .custom-next-arrow {
  background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  border-radius: 50%; /* Formato arredondado */
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Cor da seta */
  cursor: pointer;
}

.custom-prev-arrow:hover, .custom-next-arrow:hover {
  background: rgba(0, 0, 0, 0.8); /* Fundo mais escuro ao passar o mouse */
}
